<div class="login">
  <div class="container">
    <div class="form_signup">

    <h1>Sign up</h1>
<%= form_for(@user) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
     <%= f.label :last_name %>
    <%= f.text_field :last_name  %>
    <%= f.label :username %>
    <%= f.text_field :username %>
     <%= f.label :email %>
    <%= f.text_field :email %>
     <%= f.label :password %>
    <%= f.password_field :password %>
       <%= f.label :password %>
    <%= f.password_field :password %>
  <%= f.submit "Create an account", class: "btn btn-success" %>
 <% end %>


    </div>
  </div>
</div>