<div class="login">
  <div class="container">
    <div class="form_signup">
<% if current_user.nil? %>
    <h1>SE CONNECTER</h1><br>
<%= form_for(@user) do |f| %>
     <label>Nom</label>
     <%= f.text_field :last_name , :required => true %>
       <label>Prénom</label>
   <%= f.text_field :first_name , :required => true%>
      <label>Nom d'Utilisateur</label>
    <%= f.text_field :username , :required => true%>
     <label>Email</label>
    <%= f.text_field :email , :required => true%>
       <label>Mot de Passe</label>
    <%= f.password_field :password , :required => true%><br/><br>
  <%= f.submit "Créer un compte", class: "btn btn-success" %>
 <% end %>
<% else %>
  Vous êtes déja connecté 
<% end %>

    </div>
  </div>
</div>