<div class="special">
  <div class="container">
    <h3>Les Ventes De La Categorie <%= @category.label %></h3>
    <div class="specia-top">
      <ul class="grid_2">
		<% if @sales.size < 1 %> 
			<div style="text-align:center">
				Aucune vente n'est disponible pour cette catégorie 
			</div>
		<% else %>

        <% @sales.each do |p| %>
            <li>
              <a href="/sales/show/<%= p.id %>">   <%= image_tag '1.jpg', :class=>"img-responsive" %></a>
              <div class="special-info grid_1 simpleCart_shelfItem">
                <h4 style="text-align:center"><%= p.label %></h4>

                <div class="item_add"><span class="item_price">
                  <h6></h6></span></div>
                <div class="show_vente">
               <span class="item_price" > 
               <b><%= p.start_datetime.strftime("%d/%m/%y %H:%M") %> - <%= p.end_datetime.strftime("%d/%m/%y %H:%M") %></b></span><br><br>
                <span class="item_price"><a href="/sales/show/<%=p.id%>">Voir Vente</a></span></div>
              </div>
            </li>
  		<% end %><% end %>
        <div class="clearfix"> </div>
      </ul>
    </div>
  </div>
</div>