 <div class="header_bg">
    <div class="container">
      <div class="header">
        <div class="head-t">
          <div class="logo">
            <a href="/">   <%= image_tag 'logo.png' , :class=>"img-responsive" %> </a>
          </div>
          <!-- start header_right -->
          <div class="header_right">
            <div class="rgt-bottom">
              
<% if current_user %>

         <% if current_user.admin? %>
            <%= link_to 'ADMINISTRATION' , admin_path %>
          <% end %>
            <div class="log" style="margin-left:-6%;margin-top:1%;">
              <%= link_to "LOG OUT", logout_path, method: "delete" %>    
            </div>
            
            <div class="reg" style="width:27%;">
                Bienvenue  <%= current_user.first_name %> 
            </div>
 <% else %>   
       
            <div class="log"  style="margin-top:1.6%;">
               <%= link_to 'LOG IN' , login_path  %>
            </div>
            
            <div class="reg" >
              <%= link_to 'REGISTER' , signup_path %>
            </div>
 
<% end %>
<% if current_user %>
              <div class="cart box_1">
                <a href="checkout.html">
                  <h3> <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> items)   <%= image_tag 'bag.png'%><h3>
                </a>
                <p><a href="javascript:;" class="simpleCart_empty">(empty card)</a></p>
                <div class="clearfix"> </div>
              </div>



              <div class="create_btn">
                <a href="checkout.html">CHECKOUT</a>
              </div>
          <% end %>
              <div class="clearfix"> </div>
            </div>
            <div class="search">
              <form>
                <input type="text" value="" placeholder="search...">
                <input type="submit" value="">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>