 <div class="header_bg">
    <div class="container">
      <div class="header">
        <div class="head-t">
          <div class="logo">
            <a href="/">   <%= image_tag 'logo.png' , :class=>"img-responsive" %> </a>
          </div>
          <div class="header_right">
            <div class="rgt-bottom">
 <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>

<div class="row-fluid">
<% if current_user %>
  
            <div class="col-xs-6 col-md-4">
                Bienvenue  <%= current_user.first_name %> 
            </div>
         <% if current_user.admin? %>
            <div class="col-xs-6 col-md-4">
              <%= link_to 'ADMINISTRATION' , admin_path %>
             </div>
          <% end %>
            <div class="col-xs-6 col-md-4">
              <%= link_to "DECONNEXION", logout_path, method: "delete" %>    
            </div>
         
 <% else %>   
       
            <div class="col-xs-6">
               <%= link_to 'SE CONNECTER' , login_path  %>
            </div>
            
            <div class="col-xs-6">
              <%= link_to 'S\'ENREGISTRER' , signup_path %>
            </div>
 
<% end %>


</div>
              <div class="clearfix"> </div>
            </div>
            
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>