 <div class="header_bg">
    <div class="container">
      <div class="header">
        <div class="head-t">
          <div class="logo">
            <a href="/">   <%= image_tag 'logo.png' , :class=>"img-responsive" %> </a>
          </div>
          <div class="header_right">
            <div class="rgt-bottom">
 <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>


<% if current_user %>

         <% if current_user.admin? %>
            <%= link_to 'ADMINISTRATION' , admin_path %>
          <% end %>
            <div class="log" style="margin-left:-6%;margin-top:1%;">
              <%= link_to "LOG OUT", logout_path, method: "delete" %>    
            </div>
            
            <div class="reg" style="width:27%;">
                Bienvenue  <%= current_user.first_name %> 
            </div>
 <% else %>   
       
            <div class="log"  style="margin-top:1.6%;">
               <%= link_to 'LOG IN' , login_path  %>
            </div>
            
            <div class="reg" >
              <%= link_to 'REGISTER' , signup_path %>
            </div>
 
<% end %>
              <div class="clearfix"> </div>
            </div>
            <div class="search">
              <form>
                <input type="text" value="" placeholder="search...">
                <input type="submit" value="">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>