  <!DOCTYPE html>
  <html>
  <head>
    <title>HTO</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="top_bg">
    <div class="container">
      <div class="header_top">
        <div class="top_right">
          <ul>
            <li><a href="#">help</a></li>|
            <li><a href="contact.html">Contact</a></li>|
            <li><a href="#">Delivery information</a></li>
          </ul>
        </div>
        <div class="top_left">
          <h2><span></span> Call us : 032 2352 782</h2>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- header -->
 <%= render :partial => 'layouts/header' %>
 <%= render :partial => 'layouts/menu' %>
        <!-- start header menu -->
        <%= yield %>



  <div class="footer">
    <div class="container">
      <div class="clearfix"></div>
      <p>Copyrights © 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
  </div>


  </body>
  </html>
